synset_signset_germany/yolov8m_run_013/events.*

# contains 211 folders with 500 .png
# Ogre and Cycle have 500 .png with 500 .json
data/raw/SynsetSignsetGermany/Cycles/*
!data/raw/SynsetSignsetGermany/Cycles/.gitkeep
data/raw/SynsetSignsetGermany/Labels/*
!data/raw/SynsetSignsetGermany/Labels/.gitkeep
data/raw/SynsetSignsetGermany/Masks/*
!data/raw/SynsetSignsetGermany/Masks/.gitkeep
data/raw/SynsetSignsetGermany/Ogre/*
!data/raw/SynsetSignsetGermany/Ogre/.gitkeep
# contains all images and all .txt files (yolo format)
data/yolo_signs/train/labels.cache

data/yolo_signs/val/labels.cache

data/yolo_signs/val/images/*
!data/yolo_signs/val/images/

data/yolo_signs/val/labels/*
!data/yolo_signs/val/labels/

data/yolo_signs/train/images/*
!data/yolo_signs/train/images/

data/yolo_signs/train/labels/*
!data/yolo_signs/train/labels/


